@media (min-width: 1350px) {
  .play-button {
    height: 63%;
    width: 73%;
    left: 18%;
    top: 5%;
  }
  .project-container {
    height : 600px;
    flex-flow: column wrap;
  }
  .-description {
    order: 1;
  }
  .project-info-box {
    width: 50%;
    order: 2;
  }
  .project-info {
    padding: 0 25px 25px 25px;
  }
  .-video {
    order: 3;
  }
}
@media (min-width: 1001px) and (max-width: 1080px) {
  .play-button {
    height: 59%;
    width: 71%;
    left: 15%;
    top: 6%;
  }
}
@media(max-width: 1000px) {
  img {
    margin: 0 0 50px 0;
  }
  .banner-description {
    width: 80%;
  }
  .half-containers {
    width: 100%;
  }
  .devicon-box {
    padding-top: 50px;
  }
  .project-info-box {
    order: 3;
    padding: 25px;
    margin: 20px 0 0 0;
  }
  .padding-box {
    padding: 25px 50px;
  }
  .-video {
    order: 1;
  }
  .-description {
    order: 2;
    padding-top: 50px;
  }
  .wrap-at-1000 {
    flex-wrap: wrap;
  }
  .skill-container {
    display: inline-block;
  }
  .play-button {
    height: 59%;
    width: 72%;
    left: 19%;
    top: 9%;
  }
}
@media(max-width: 850px) {
  footer {
    flex-wrap: wrap;
  }
  .play-button {
    height: 60%;
    width: 72%;
    left: 17%;
    top: 7%;
  }
  .project-info {
    padding: 0 0 15px 0;
  }
}
@media only screen and (min-width: 768px) {
  .cd-3d-nav a {
    color: black;
  }
}
@media(max-width: 700px) {
  .wrap-at-700 {
    flex-wrap: wrap;
  }
  .large-padding {
    padding: 50px;
  }
  p {
    text-align: left;
  }
  .-roles {
    order: 1;
  }
  .-tech {
    order: 2;
  }
  .-contributors {
    order: 0;
    width: 100%;
  }
}
@media(max-width: 585px) {
  video {
    margin: 0;
    height: 100%;
    width: 100%;
  }
  .play-button {
    height: 60%;
    width: 58%;
    left: 21%;
    top: 7%;
  }
}