/** { border: 1px solid red; box-sizing: border-box; }*/
.container {
  margin: 50px 0;
}
.flex-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.flex-space-around {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.align-center {
  align-items: center;
}
/*Banner Section*/
.banner {
  border: 1px solid red;
  padding: 20px;
  height: 500px;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.title {
  margin: 0;
}
.name {
  text-transform: uppercase;
  margin: 5px 0 25px 0;
}

/*About Section*/



/*Skills Section*/
.half-containers {
  display: inline-block;
  width: 45%;
}
@media(max-width: 1000px) {
  .half-containers {
    width: 100%;
  }
}
.devicon {
  font-size: 8em;
  margin: 15px;
}


/*Projects Section*/
.project-box {
  box-shadow: 1px 3px 2px grey;
  border-radius: 10px;
  border: 1px solid black;
  margin: 50px 25px;
}
.padding-box {
  padding: 50px;
}
.project-box-top-half {
  width: 49%;
}
video {
  border: 1px solid blue;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
.project-info {
  margin: 0 30px;
}

/*Connect Section*/
.connect-text {
  text-align: center;
}

