* { border: 1px solid red; box-sizing: border-box; }

/*Banner Section*/
.banner {
  padding: 20px;
  height: 500px;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.title {
  margin: 0;
}
.name {
  text-transform: uppercase;
  margin: 5px 0 25px 0;
}
.flex-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.flex-space-around {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
/*About Section*/



/*Skills Section*/
.half-containers {
  display: inline-block;
  width: 49%;
}
.devicon {
  font-size: 8em;
  margin: 15px;
}


/*Projects Section*/
.project-box {
  border: 1px solid blue;
  padding: 20px;
}
.project-info-box {
  padding: 20px;
}
.project-box-top-half {
  width: 50%;
}
video {
  height: 100%;
  width: 100%;
}
.project-info {
  margin: 0 30px;
}


