/** { border: 1px solid red; box-sizing: border-box; }*/
.container {
  margin: 50px 0;
}
.flex-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.flex-space-around {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.align-center {
  align-items: center;
}
/*Banner Section*/
.banner {
  padding: 20px;
  height: 500px;
  flex-direction: column;
  align-items: center;
}
.title {
  margin: 0;
}
.name {
  text-transform: uppercase;
  margin: 5px 0 25px 0;
}

/*About Section*/
#aboutMe {
  background-color: rgba(214, 198, 138, 0.62);
}


/*Skills Section*/
#skills {
  background-color: #CDE8E5;
}
.half-containers {
  display: inline-block;
  width: 45%;
}
@media(max-width: 1000px) {
  h3 {
    margin:0 0 36px 0;
  }
  .half-containers {
    width: 100%;
    margin: 20px 0;
  }
  .project-info-box {
    margin: 20px 0 0 0;
  }
  .padding-box {
    padding: 25px 50px;
  }
}
.devicon {
  font-size: 8em;
  margin: 15px;
}


/*Projects Section*/
#projects {
  background-color: #DED7C7;
}
.project-box {
  background-color: white;
  box-shadow: 1px 3px 2px grey;
  border-radius: 10px;
  border: 1px solid black;
  margin: 50px 25px;
}
.padding-box {
  padding: 50px;
}

video {
  border: 1px solid blue;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
.project-info-box {
    margin: 40px 0 0 0;
}
.project-info {
  margin: 0 30px;
}
/*Connect Section*/
#contact {
  background-color: whitesmoke;
}
.text-center {
  text-align: center;
}

