<!DOCTYPE html>
<html ng-app="Portfolio">
<head>
  <title></title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- fontAwesome -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <!-- dev Icons -->
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/4f6a4b08efdad6bb29f9cc801f5c07e263b39907/devicon.min.css">
  <!-- Angular -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
  <!-- App/Controller -->
  <script type="text/javascript" src="js/app.js"></script>
  <!-- Project Data -->
  <script type="text/javascript" src="js/project-data.js"></script>

</head>
<body ng-controller="HomeCtrl">

<!-- Projects -->
<section>
  <div ng-repeat="project in projectData">
    <p>name: {{project.name}}</p>
    <p>description: {{project.description}}</p>
    <p>roles: <span ng-repeat="role in project.roles">{{role}} </span></p>
    <p>techs: <span ng-repeat="tech in project.techs">{{tech}} </span></p>
    <p 
      ng-if="project.contributor"
      ng-repeat="contributor in contributors">
      {{contributor}} 
    </p>
    <p>github: {{project.github}}</p>
    <p>livesite: {{project.liveSite}}</p>
    <p>videolink: {{project.videoLink}}</p>
  <hr>
  </div>
</section>


</body>
</html>