body {
  font-family: 'Montserrat', sans-serif;
 }
p {
  font-size: 1.5em;
}
.devicon {
  color: blue;
  font-size: 3em;
}
h2 {
  margin-bottom: 1em;
}
/*Banner Image*/
.banner-img {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 65vh;
  width: 100vw;
  background: #41A2E8;
  /*background: -webkit-linear-gradient(left top, #41A2E8, #B44878, #5AFEFF); 
  background: -o-linear-gradient(left top, #41A2E8, #B44878, #5AFEFF); 
  background: -moz-linear-gradient(left top, #41A2E8, #B44878, #5AFEFF); 
  background: linear-gradient(to left top, #41A2E8, #B44878, #5AFEFF); */
}
.banner-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  text-shadow: 5px 5px 1px black;
}

.name {
  display: block;
  font-size: 3.5em;
}
.title {
  text-align: center;
  display: block;
  font-size: 1.25em;
}
/*QuickLinks*/
.quick-links {
  margin-top: 1.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.quick-links
h3
a {
  color: white;
  text-decoration: none;
}
.quick-links
h3
a:hover {
  color: grey;
}

/*VIDS*/
.video-container {
  height: 350px;
  display: flex;
  align-items: center;
}
video {
  box-shadow: 0 0 5px black;

  height: auto;
  width: 100%;
}
/*hover-icons*/
.hover-icons {
  position: relative;
  z-index: 2;
  list-style: none;
  position: fixed;
  right: 2em;
  top: 12em;
}
.hover-icons li {
  height: 3.5em;
  width: 3.5em;
  border-radius: 50px;
  background-color: coral;
  float: right;
  clear: both;
  overflow: hidden;
  margin-top: 1em;
  transition: all .2s;
}
.hover-icons li a {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;

}
.hover-icons li:hover {
  position: relative;
  cursor: pointer;
  width: 15em;
  color: white;
  background-color: #24B23F;
  transition: all .2s;
}
i:hover {
  cursor: pointer;
  color: coral;
}
a {
  text-decoration: none;
  text-align: center;
}
/* Project */
.panel {
  box-shadow: 0 1px 5px black;
}
.devicon .tooltip-text {
  visibility: hidden;
  font-size: .7em;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
}
.devicon:hover .tooltip-text {
    visibility: visible;
}

/*footer*/
.footer-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footer-skills div p {
  font-size: 12px;
}